@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-primary: #226daa;
    --color-secondary: #5293d4;
  }
}

/* TOP-LEVEL */
:root {
  --primary-color: #226daa;
  --secondary-color: #5293d4;
}

/* HEADER */
header {
  background-image: url(./img/main-background.svg);
}
header .blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(4px);
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  z-index: -1;
}

/* MAIN */
#register article {
  background-image: url(./img/table-background.jpg);
}
